version: '3.8'

services:

  laravel:
    build:
      context: backend
      dockerfile: Dockerfile
      target: production
    env_file:
      - .env
    volumes:
      - .env:/var/www/.env:ro
    ports:
      - "9000:9000" 
    restarts:
      - unless-stopped
  

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
      target: production
    depends_on:
      - laravel
    restarts:
      - unless-stopped

  caddy:
    build:
      context: caddy
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - laravel
    restarts:
      - unless-stopped

  libretranslate:
    image: libretranslate/libretranslate
    ports:
      - "5000:5000"
    command: --load-only=en,es
    restarts:
      - unless-stopped


volumes:  
  caddy_data:
  caddy_config:

 